body {
 /* padding-top: 120px;
  padding-left: 20px;
*/

}

#header {
  height: 90px;
  width: 100%;
  position: absolute;
  top: 0;
}

.principal{
    
    /*max-width: 90%;
    margin: 0px auto;*/
}

.titulo{
    font-family: "HaasDisplayBold","Helvetica";
    font-size: 50px;
    color: #262626;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    line-height: 1;
    margin-bottom: 20px;
}

.dados {
    width: 80%;
    margin: 10px auto 20px auto;
    font-size: 14px;
    color: #626262;
    text-align: center;
}

.descricao{
    font-family: "TiemposTextWeb-Regular","Georgia";
    font-size: 20px;
    color: #767676;
    
    text-align: center;
    margin: 0 auto 52px;
    padding: 0 10px 0 10px;
    margin-top: 16px;
    width: 90%;
    margin-bottom: 0px;
}

#iniciar {
        background-color: #FFD200;
        border: 2px solid #FCB813;
        color: black;
        padding: 10px;
        margin: 10px;
        text-align: center;
        width: 200px;
        margin-left: auto;
    margin-right: auto;
  }


#container{
  position: relative;
  top: 700px;
  width: 100%;
}


svg{
  background-color: #eee /*#f5f8fa;*/
}

 circle {
        fill: #FFD200;
        stroke: #000;
        stroke-width: 0.7px;
        opacity: 0.5;
        z-index: -1;
      }

      div.mapa_buttons {
        top: 50px;
        /* left: 50px; */
        width: 250px;
        position: absolute;
        height: 100%;
      }

      div.mapa_buttons div {
        background-color: #FFD200;
        border: 2px solid #FCB813;
        color: black;
        padding: 5px;
        margin: 10px;
      }

      div.mapa_buttons .btn_a {
        background-color: #D62229;
        border: 2px solid #B22227;
        color: black;
        padding: 10px;
        margin: 10px;
        position: relative;
        top: 30px;
      }

      div.mapa_buttons span {
        
        padding: 10px;
        margin: 20px;
      }

      #detalhe_info2 {
      position: absolute;
      width: 45%;
      height: auto;
      top: 0px;
      right: 10px;
      bottom: 0;
      background: linear-gradient(to left, #FCB813, transparent 95%);
      animation-name: dtlh;
      animation-duration: 1s;
      z-index: 0;
      overflow: auto;
      
   }
 

.detalhe_info_title2{
      margin-top: 0px;
      margin-right: 40px;
  }
  .detalhe_info_title2 > h3 {
      font-weight: bold;
      text-align: left;
      font-size: 18px;
      /*color: #fff;*/
      width: 90%;
      font-family: Arial, Helvetica;
      text-transform: uppercase;
      position: absolute;;
      right: 10px;
  }
  #dtlh_desc {
      /*font-weight: bold;*/
      text-align: left;
      font-size: 10px;
      /*color: #fff;*/
      width: 90%;
      text-align: justify;
      position: absolute;;
      right: 10px;
      top: 60px;
  }

  /*primeira versão*/
  #dadosPrograma{

    font-family:"Arial","Helvetica";
    position: absolute;
    /*top:-1000px;*/
    bottom: 20px;
    width: 200px;
    margin: 20px;
    right: 150px;
    min-height:100px;
    padding: 10px;
    font-size: 12px;
    background: rgba(255, 255, 255, .98);
    border: 1px solid lightgray;
    box-shadow: 1px 1px 10px lightgray;
    color:black;
    pointer-events: none;
    z-index: 100;
  }

  #pergunta{
  font-family:"Arial","Helvetica";
  position: absolute;
  /*top:-1000px;*/
  top: 3300px;
  width: 300px;
  margin: 10px;
  left: 10px;
  padding: 10px;
  font-size: 14px;
  color:black;
  display: none;
}






.tab_detalhe{
position: relative;
/*top: 250px;
left: 120px;*/
font-size: 10px;
/*width: auto !important;*/

}

#tab_dados{
font-size: 10px;
padding: 20px;

}

#tab_dados_filter {
   float: right; !important;
   padding: 20px;

}

.dt-buttons {
   float: left; !important;
   padding: 20px;

}



</style>